
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    background-color: #e6e6e6;
}


#wrapper {
    width: 1000px;
    margin-left: 100px;
    background-color: #ffffff;
}


.content-section {
    padding: 15px;
}

img {
    border: 1px solid black;
}


h1 {
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: .4em;
}

h2 {
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: .4em;
}

/* Links */
a:link, a:active {
    color: darkred;
    text-decoration: none;
    line-height: 1.6;
}

a:hover, a:visited {
    color: green;
    text-decoration: underline;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    background-color: rgb(247, 247, 198);
    
}

th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}
