body{
    background: linear-gradient(black, rebeccapurple, tomato );
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 900px;
    margin: auto;
    margin-top: 2em;
}
.container{
    background: white;
    border-radius: 10px;
    padding: 2em;
}
input{
width: 100%;
padding: 1em;
box-sizing: border-box;
}
.form-group{
    margin-bottom: 1.5em;
}
label{
    font-weight: bold;
}