/* Element selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    background-color: #e9e9e9;
    background-image: url("bg.png");
    background-repeat: repeat;
}

h1 {
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: .4em;
}

h2 {
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: .4em;
}

a:link, a:active {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

img {
    border: 3px outset black;
}

/* ID selector */
#wrapper {
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

/* Class selectors */
.family-highlight {
    font-weight: bold;
    color: darkblue;
}

.shadow-box {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.round-img {
    border-radius: 15%;
    transform: scale(1.05);
}
