/* Estilo general */
.titulo {
  color: #760a0a;
  font-size: 2em;
    margin-top: 1px;
    margin-bottom: 1px;
}

.banner {
  width: 100%;
  height: auto;
  padding: auto;
 border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;

}
body {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  color: black;
  margin: 20px;
    background-color:gainsboro;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  font-size: 3em;
  
}

h2 {
  text-align: center;
  font-family: Lucida Handwriting;
}

header, footer {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s; 
}

nav a:hover {
  background-color: #ddd;  
  color: #e30613;           
}

nav a:active {
  background-color: #e30613; /*clic */
  color: white;
}


.categoria {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.producto {
  text-align: center;
  margin-bottom: 15px;
}


p {
  line-height: 1.6;
  font-family: 'Bodoni MT', serif;
  text-align: center;
}
.running {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  background-color: rgb(190, 213, 226);
}

.producto {
  border: 1px solid #100101;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.lifestyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  background-color: rgb(165, 213, 197);
}
.training {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  background-color: rgb(202, 202, 167);
}
